<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Flats</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="script.js" defer></script>
  </head>
  <body>
    <!-- Header -->
    <div class="header">
      <div class="logo">
        <a href="home.html" class="logo"
          ><img src="../../img/logo.png" alt="logo" id="logo"
        /></a>
      </div>
      <p><i id="welcomeMessage">Welcome Back, Santi</i></p>
      <nav>
        <ul>
          <li><a href="../home/home.html">HOME</a></li>
          <li><a href="../allFlats/allFlats.html">ALL FLATS</a></li>
          <li><a href="../newFlat/newFlat.html">NEW FLAT</a></li>
          <li><a href="../profileUpdt/profileUpdt.html">PROFILE</a></li>
          <button type="button" onclick="logOut()" class="logOut">
            LOGOUT
          </button>
        </ul>
      </nav>
    </div>

    <div class="allFlats">
      <h1>All Flats</h1>

      <div>
        <!-- Sort form -->
        <form>
          <label for="sortBy">Sort by:</label>
          <select name="sortBy" id="sortBy">
            <option value="default"></option>
            <option value="city">City</option>
            <option value="price+">Price $ - $$$</option>
            <option value="price-">Price $$$ - $</option>
            <option value="areaSize-">Largest Area Size</option>
            <option value="areaSize+">Smallest Area Size</option>
          </select>
          <button type="button" id="sortButton" onclick="sortTableBy()">
            Sort
          </button>
        </form>

        <!-- Filters Form -->
        <form>
          <p>Filters:</p>
          <label for="city">City</label>
          <select name="city" id="city">
            <option value="default"></option>
            <option value="vancouver">Vancouver</option>
            <option value="north-vancouver">North Vancouver</option>
            <option value="burnaby">Burnaby</option>
            <option value="richmond">Richmond</option>
            <option value="surrey">Surrey</option>
          </select>
          <label for="priceRange">Price</label>
          <select name="priceRange" id="priceRange">
            <option value="default"></option>
            <option value="cheapest">Less than $1500</option>
            <option value="medium">$1500 - $2500</option>
            <option value="expensive">$2500 or more</option>
          </select>
          <label for="areaSizeRange">Area size</label>
          <select name="areaSizeRange" id="areaSizeRange">
            <option value="default"></option>
            <option value="smallest">Less than 800 Sq.Ft.</option>
            <option value="medium">800 Sq.Ft.; - 1100 Sq.Ft.</option>
            <option value="medium">More than 1100 Sq.Ft.</option>
          </select>
          <button type="button" id="filterButton" onclick="applyFilters()">
            Filter
          </button>
        </form>

        <!-- All flats table -->
        <table id="allFlatsTable">
          <tr>
            <th>
              City
              <select name="cityFilter" id="cityFilter"></select>
            </th>
            <th>Street name</th>
            <th>Street number</th>
            <th>
              Area size
              <select name="areaSizeFilter" id="areaSizeFilter"></select>
            </th>
            <th>Has AC</th>
            <th>Year built</th>
            <th>
              Rent price
              <select name="rentPriceFilter" id="rentPriceFilter"></select>
            </th>
            <th>Date available</th>
            <th>Favourites</th>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
