<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="../style.css" />
    <script src="../script.js" defer></script>
  </head>
  <body>
    <!-- Header -->
    <div class="header">
      <div class="logo">
        <a href="home.html" class="logo"
          ><img src="../../img/logo.png" alt="logo" id="logo"
        /></a>
      </div>
      <p><i id="welcomeMessage">Welcome Back, Santi</i></p>
      <nav>
        <ul>
          <li><a href="../home/home.html">HOME</a></li>
          <li><a href="../allFlats/allFlats.html">ALL FLATS</a></li>
          <li><a href="../newFlat/newFlat.html">NEW FLAT</a></li>
          <li><a href="../profileUpdt/profileUpdt.html">PROFILE</a></li>
          <button type="button" onclick="logOut()" class="logOut">
            LOGOUT
          </button>
        </ul>
      </nav>
    </div>
  </body>
</html>
